<div class="col-md-6" style="margin-left:0%">
  <div [ngClass]="classCss" role="alert" *ngIf="message">
    <strong>{{ message.text }}</strong>
  </div>
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">resumo</h3>
    </div>
      <div class="box-body">
        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
                <b>Aberto :</b>  
                <span class="pull-right"><span>{{ resumo?.qtdAberto }}</span></span>
          </li>
          <li class="list-group-item">
              <b>Aceito :</b>  
              <span class="pull-right"><span>{{ resumo?.qtdAceito }}</span></span>
          </li>
          <li class="list-group-item">
                <b>Finalizado :</b>  
                <span class="pull-right"><span>{{ resumo?.qtdFinalizado }}</span></span>
          </li>
          <li class="list-group-item">
                <b>Aprovado :</b>  
                <span class="pull-right"><span>{{ resumo?.qtdAprovado }}</span></span>
          </li>
          <li class="list-group-item">
                <b>Moderado :</b>  
                <span class="pull-right"><span>{{ resumo?.qtdModerado }}</span></span>
          </li>
          <li class="list-group-item">
                <b>Ruim :</b>  
          <span class="pull-right"><span>{{ resumo?.qtdRuim }}</span></span>
          </li>
        </ul>     
      </div>
  </div>
</div>